# Temp files
.DS_Store
*~
buck-out/
.pybiomart.sqlite

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/

infercnv_env/

# Notebooks
.ipynb_checkpoints

# Node.js
node_modules/

# uv
uv.lock
