fail_fast: false
default_language_version:
  python: python3
default_stages:
  - commit
  - push
minimum_pre_commit_version: 2.16.0
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        # doesn't work in combination with jupytext hook yet. See https://github.com/mwouts/jupytext/issues/580
        exclude: "docs/notebooks/.*\\.md"
        # Newer versions of node don't work on systems that have an older version of GLIBC
        # (in particular Ubuntu 18.04 and Centos 7)
        # EOL of Centos 7 is in 2024-06, we can probably get rid of this then.
        # See https://github.com/scverse/cookiecutter-scverse/issues/143 and
        # https://github.com/jupyterlab/jupyterlab/issues/12675
        language_version: "17.9.1"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
      - id: check-ast
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: check-case-conflict
      # Check that there are no merge conflicts (could be generated by template sync)
      - id: check-merge-conflict
        args: [--assume-in-merge]
  - repo: local
    hooks:
      - id: forbid-to-commit
        name: Don't commit rej files
        entry: |
          Cannot commit .rej files. These indicate merge conflicts that arise during automated template updates.
          Fix the merge conflicts manually and remove the .rej files.
        language: fail
        files: '.*\.rej$'
